<div class="page-container pt-8">
  <div class="flex items-center justify-between mb-8">
    <div class="w-48">
      <%= link_to restaurant_path(@restaurant) do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
    </div>
    <h2 class="text-xl font-bold">New Menu</h2>
    <div class="w-48"></div>
  </div>
  <%= render "menus/form", restaurant: @restaurant, menu: @menu %>
</div>
