<div class="flex flex-col items-center font-semibold">
  <p><%= item.id %></p>
  <p class="text-center"><%= MenuItem.find(item.menu_item_id).name %></p>
</div>
<div class="flex justify-center border p-8 mt-3">
  <%= item.note %>
</div>
<div class="flex justify-center mt-3">
  <%= link_to "Mark as done", prepared_path(item), class: "bg-gray-900 px-10 py-2 text-white rounded-lg" %>
</div>
