<div class="customer-container">
  <div class="w-full h-28 bg-gray-300 flex items-end p-4">
    <div class="flex items-center gap-3">
      <i class="fa-solid fa-chevron-left text-xl"></i>
      <h1 class="text-3xl font-bold"><%= @table_customer.name %></h1>
    </div>
  </div>
  <div class="p-3">
    <% @table_customer.order_items.each do |item| %>
      <div class="w-full flex items-center mt-3">
        <div class="mr-5">
          <img src=<%= "https://source.unsplash.com/random/75x75/?restaurant-#{item}" %> class="d-block rounded-lg" alt="restaurant image">
        </div>
        <div class="w-6/12">
          <p class="font-bold text-sm"><%= item.menu_item.name %></p>
          <p class="text mt-2">$<%= item.menu_item.price %></p>
        </div>
        <div class="flex items-center gap-3">
          <i class="fa-solid fa-minus text-gray-400 text-lg"></i>
          <p class="text-xl">1</p>
          <i class="fa-solid fa-plus text-gray-400 text-lg"></i>
        </div>
      </div>
    <% end %>

    <div class="w-full flex justify-center">
      <button class="bg-black text-white px-12 py-2 rounded-lg fixed bottom-5">Place your order</button>
    </div>
  </div>
</div>
